<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
    Livraria Nagano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/alice.jpg" />
    <ion-card-header>
      <ion-card-title>Alice No País Das Maravilhas - Classic Edition Capa dura – Edição padrão</ion-card-title>
      <ion-card-subtitle class="corpreco">Preço: R$ 55,17</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Uma menina, um coelho e uma história capazes de fazer qualquer um de nós voltar a sonhar. Alice é despertada de um leve sono ao pé de uma árvore por um coelho peculiar... 
    </ion-card-content>

    <ion-button class="botaoCompra" size="small">Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/bruxas.jpg" />
    <ion-card-header>
      <ion-card-title>Box Edgar Allan Poe : Histórias extraordinárias Capa comum – Edição padrão</ion-card-title>
      <ion-card-subtitle class="corpreco">Preço: R$ 48,99</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Numa ilha próxima à Carolina do Sul, um mistério se desenvolve com a descoberta surpreendente de um escaravelho de ouro.
    </ion-card-content>

    <ion-button class="botaoCompra" size="small">Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/edgar.jpg" />
    <ion-card-header>
      <ion-card-title>Grimório das Bruxas (Moon Edition) Capa dura</ion-card-title>
      <ion-card-subtitle class="corpreco">Preço: R$ 82,65</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      As bruxas estão por toda parte. Dentro e fora da ficção, sua presença imemorial nos fascina e assombra em igual medida. Combinando história, folclore, mito e mistério, a figura da bruxa desperta...
    </ion-card-content>

    <ion-button class="botaoCompra" size="small">Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/sonhos.jpg" />
    <ion-card-header>
      <ion-card-title>Dicionário dos Sonhos Capa dura</ion-card-title>
      <ion-card-subtitle class="corpreco">Preço: R$ 73,99</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Nossos sonhos são portais para o inconsciente, uma linguagem espiritual para desvendar aspectos do nosso passado, presente e futuro. Decifrar suas mensagens, portanto, é passar a conhecer...
    </ion-card-content>

    <ion-button class="botaoCompra" size="small">Comprar</ion-button>
  </ion-card>
</ion-content>
